footer {
    width: 100%;
    height: 70px;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    
    p {
        margin: 0px;
        margin-left: 70px;
        font-weight: bold;
        color: white;
    }
}
@media screen and (max-width: 500px) {
    footer {
        p {
            margin-left: 30px;
        }
    }
}