<div class="box">
  <a *ngFor="let animation of animationsOnPage"
     [routerLink]="['/animations', animation.name]">

    <div class="card">
      <img [src]="animation.image" alt="Banner">
      <div class="GEO"><span>GEO</span></div>
      <div class="ENG"><span>ENG</span></div>
      <div class="hover"></div>
      <div class="button"></div>
      <i class="fa-solid fa-play"></i>
    </div> 
    <div class="title">
      <p>{{ animation.name }}</p>
    </div>
  </a>
</div>


<div class="Box">
  <div class="NavBox">
    <a *ngFor="let p of [].constructor(totalPages); let i = index"
       [routerLink]="'/animations/page/' + (i + 1)"
       routerLinkActive="active">
      <div class="Pages">
        <span>{{ i + 1 }}</span>
      </div>
    </a>
  </div>
</div>
