@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin button {
    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 10px;
        transition: all 0.5s;
        opacity: 0; 
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: yellow;
        transition: all 0.5s;
        opacity: 0;
    }
    i {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover > .hover {
        opacity: 0.4;
        transition: all 0.5s;
    }
    &:hover > .button, &:hover > i {
        opacity: 1;
        transition: all 0.5s;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}
.mainBox {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;

    .left {
        height: 530px;
        width: 28%;
        @include center();
        flex-wrap: wrap;

        .card {
            height: 92%;
            width: 90%;  
            border: 4px solid black;
            border-radius: 25px; 
            position: relative;
            box-shadow: 3px 3px 8px red;
            background-color: gray;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .GEO, .ENG {
                position: absolute;
                bottom: 8px;
                height: 25px;
                width: 40px;
                border: 3px solid white;
                border-radius: 10px;
                @include center();

                span {
                    font-weight: bold;
                    font-size: 12px;
                    color: white;
                }
            }
            .GEO {
                left: 8px;
            }
            .ENG {
                right: 8px;
            }
        }
        #left-down {
            width: 100%;
            height: 8%;
            display: flex;
            align-items: end;
            justify-content: center;

            button {
                width: 88%;
                height: 75%;
                border: 3px solid rgb(121, 121, 11);
                border-radius: 10px;
                background-color: yellow;
                @include center();
                cursor: pointer;

                font-weight: bold;
                
            }
        }
    }
    .right {
        height: 532px;
        width: 72%;
        display: flex;
        align-items: center;

        .video {
            width: 97%;
            height: 100%;
            border: 4px solid black;
            border-radius: 25px; 
            @include center();
            box-shadow: 3px 3px 8px red;
            background-color: rgb(20, 20, 20);

            .loading {
                margin: 0 auto 20px;
                width: 50px;
                height: 50px;
                border: 4px solid rgb(20, 20, 20); 
                border-top: 4px solid yellow;
                border-right: 4px solid yellow;
                border-radius: 50%;
                animation: spin 1s linear infinite;
            }

            @keyframes spin {
                to { transform: rotate(360deg); }
            }
        }
    }
    .bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;

        .descriptions {
            width: 97%;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 10px black;
            padding-top: 20px;
            padding-bottom: 20px;

            p {
                font-size: 14px;
                color: black;
                font-weight: bold;
                font-style: italic;
                margin: 5px;
                margin-left: 20px;
                margin-bottom: 8px;
                text-shadow: 0px 0px 2px yellow;

                span {
                    font-size: 16px;
                }

                #name {
                    font-size: 22px;
                }
            }
        }
    }
}
.inside {
    width: 1200px;
    height: 430px;
    margin: auto;
    margin-bottom: 40px;
    
    .up {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin: 0px;
            color: black;
            font-size: 20px;
            margin-left: 10px;
        }
        div {
            i {
                color: white;
                margin: 10px;
                font-size: 20px;
                cursor: pointer;
                text-shadow: 0px 0px 3px black;
            }
        }
    }
    .middle {
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            height: 100%;
            width: 220px;
            margin: 10px;
            margin-bottom: 0px;

            .card {
                height: 95%;
                border: 4px solid black;
                border-radius: 20px;  
                width: 100%;
                position: relative;
                cursor: pointer;
                @include button(); 

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }

                .GEO, .ENG {
                    position: absolute;
                    bottom: 8px;
                    height: 25px;
                    width: 40px;
                    border: 3px solid white;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    span {
                        font-weight: bold;
                        font-size: 12px;
                        color: white;
                    }
                }
                .GEO {
                    left: 8px;
                }
                .ENG {
                    right: 8px;
                }
            }
        }
    }
    .down {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            height: 100%;
            width: 215px;
            margin: 10px;
            margin-top: 5px;
            display: flex;
            align-items: top;
            justify-content: center;
            text-align: center;

            p {
                margin: 0px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .mainBox {
        flex-wrap: wrap;
        height: auto;
        flex-direction: column-reverse;
        position: relative;

        .right {
            width: 100%;
            height: 530px;
            margin-bottom: 40px;

            .video {
                width: 100%;
            }
        }
        .left {
            width: 300px;
            height: 500px;

            .card {
                width: 100%;
                margin-bottom: 10px;
                height: 450px;
            }
            #left-down {
                button {
                    width: 100%;    
                }
            }
        }
        .bottom {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 70%;
            margin: 0px;

            .descriptions {
                p {
                    margin-top: 20px;
                }
            }
        }
    }
    .inside {
        width: 980px;
        height: 360px;
    }
}
@media screen and (max-width: 1200px) {
    .mainBox {
        .right {
            width: 90%;
            margin: auto;
            margin-bottom: 50px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .mainBox {
        .left {
            width: 240px;
            height: 400px;

            .card {
                height: 90%;
            }
            #left-down {
                height: 8%;

                button {
                    height: 100%;
                }
            }
        }
        .right {
            height: 450px;
        }
        .bottom {
            .descriptions {
                p {
                    margin-top: 10px;
                }
            }
        }
    }
    .inside {
        width: 800px;

        .middle {
            .E {
                display: none;  
            }
        }
        .down {
            .E {
                display: none; 
            }
        }
    }
}
@media screen and (max-width: 850px) {
    .mainBox {
        margin-bottom: 100px;

        .right {
            width: 95%;
            height: 400px;
            margin-bottom: 40px;
        }
        .bottom {
            height: 450px;
            width: 60%;
            bottom: -50px;

            .descriptions {
                p {
                    margin-top: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 820px) {
    .inside {
        width: 600px;

        .middle {
            .D {
                display: none;  
            }
        }
        .down {
            .D {
                display: none; 
            }
        }
    }
}
@media screen and (max-width: 720px) { 
    .mainBox {
        .right {
            height: 370px;
        }
    }
}
@media screen and (max-width: 650px) { 
    .mainBox {
        margin-bottom: 200px;

        .left {
            width: 200px;
            height: 300px;
        }
        .right {
            height: 320px;
        }
        .bottom {
            height: 470px;
            width: 60%;
            bottom: -170px;
        }
    }
}
@media screen and (max-width: 640px) {
    .inside {
        width: 550px;
        height: 330px;
    }
}
@media screen and (max-width: 570px) {
    .inside {
        width: 450px;
        height: 310px;

        .middle {
            height: 200px;
            
            .card {
                height: 190px;
            }
        }
        .down {
            .title {
                width: 180px;

                p {
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 540px) { 
    .mainBox {
        margin-bottom: 50px;

        .right {
            height: 290px !important;
        }

        .left {
            width: 100%;
            height: 750px;
            align-items: end;
            position: relative;

            .card {
                width: 180px;
                height: 250px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 25px;
            }
            #left-down {
                display: none;
            }
        }
        .right {
            height: 370px;
        }
        .bottom {
            width: 100%;
            bottom: 0px;
            
            .descriptions {
                text-align: center;

                p {
                    margin-left: 0px;
                }
            }
        }
    }
}
@media screen and (max-width: 470px) {
    .inside {
        width: 400px;
        height: 360px;

        .middle {
            height: 250px;
            .card {
                height: 240px;
            }
            .C {
                display: none;  
            }
        }
        .down {
            .C {
                display: none; 
            }
        }
    }
}
@media screen and (max-width: 440px) {
    .mainBox {
        margin-bottom: 50px;

        .right {
            height: 240px !important;
        }
        .left {
            height: 850px;
        }
    }
}
@media screen and (max-width: 430px) {
    .inside {
        width: 100%;
        height: 380px;

        .middle {
            height: 260px;
        }
    }
}
@media screen and (max-width: 390px) {
    .inside {
        width: 100%;
        height: 350px;

        .middle {
            height: 240px;
        }
    }
    .mainBox {
    margin-bottom: 50px;

    .right {
        height: 200px !important;

        }
    }
}