@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin button {
    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 10px;
        transition: all 0.5s;
        opacity: 0; 
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: yellow;
        transition: all 0.5s;
        opacity: 0;
    }
    i {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover > .hover {
        opacity: 0.4;
        transition: all 0.5s;
    }
    &:hover > .button, &:hover > i {
        opacity: 1;
        transition: all 0.5s;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}
.mainBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;

    .left {
        height: 530px;
        width: 28%;
        @include center();
        flex-wrap: wrap;

        .card {
            height: 100%;
            width: 95%;  
            border: 4px solid black;
            border-radius: 25px; 
            position: relative;
            box-shadow: 3px 3px 8px red;
            background-color: gray;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .GEO, .ENG {
                position: absolute;
                bottom: 8px;
                height: 25px;
                width: 40px;
                border: 3px solid white;
                border-radius: 10px;
                @include center();

                span {
                    font-weight: bold;
                    font-size: 12px;
                    color: white;
                }
            }
            .GEO {
                left: 8px;
            }
            .ENG {
                right: 8px;
            }
        }
    }
    .right {
        height: 530px;
        width: 72%;
        display: flex;
        align-items: center;

        .video {
            width: 97%;
            height: 100%;
            border: 4px solid black;
            border-radius: 25px; 
            @include center();
            box-shadow: 3px 3px 8px red;
            background-color: rgb(20, 20, 20);

            .loading {
                margin: 0 auto 20px;
                width: 50px;
                height: 50px;
                border: 4px solid rgb(20, 20, 20); 
                border-top: 4px solid yellow;
                border-right: 4px solid yellow;
                border-radius: 50%;
                animation: spin 1s linear infinite;
            }

            @keyframes spin {
                to { transform: rotate(360deg); }
            }
        }
    }
    .bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 30px;

        .descriptions {
            width: 97%;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 10px black;
            padding-top: 20px;
            padding-bottom: 20px;

            #card2 {
                display: none;
                border: 4px solid black;
                border-radius: 25px; 
                position: relative;
                box-shadow: 3px 3px 8px red;
                background-color: gray;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }
            p {
                font-size: 14px;
                color: black;
                font-weight: bold;
                font-style: italic;
                margin: 5px;
                margin-left: 20px;
                margin-bottom: 8px;

                span {
                    font-size: 16px;
                }

                #name {
                    font-size: 22px;
                }
            }
        }
    }
}
.inside {
    width: 100%;
    height: 430px;
    margin: auto;
    margin-bottom: 40px;
    
    .up {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            margin: 0px;
            color: black;
            font-size: 20px;
            margin-left: 10px;
        }
        div {
            i {
                color: white;
                margin: 10px;
                font-size: 20px;
                cursor: pointer;
                text-shadow: 0px 0px 3px black;
            }
        }
    }
    .middle {
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            height: 100%;
            width: 220px;
            margin: 10px;
            margin-bottom: 0px;

            .card {
                height: 95%;
                border: 4px solid black;
                border-radius: 20px;  
                width: 100%;
                position: relative;
                cursor: pointer;
                @include button(); 

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }

                .GEO, .ENG {
                    position: absolute;
                    bottom: 8px;
                    height: 25px;
                    width: 40px;
                    border: 3px solid white;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    span {
                        font-weight: bold;
                        font-size: 12px;
                        color: white;
                    }
                }
                .GEO {
                    left: 8px;
                }
                .ENG {
                    right: 8px;
                }
            }
        }
    }
    .down {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            height: 100%;
            width: 215px;
            margin: 10px;
            margin-top: 5px;
            display: flex;
            align-items: top;
            justify-content: center;
            text-align: center;

            p {
                margin: 0px;
                font-size: 16px;
                color: black;
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 1400px) { 
    .mainBox {
        .left, .right {
            height: 480px;
        }
     }
}
@media screen and (max-width: 1200px) { 
    .mainBox {
        .left, .right {
            height: 420px;
        }
    }
    .inside {
        .middle {
            height: auto;
            
            a {
                width: clamp(95%, 25vw, 95%);
                aspect-ratio: 13 / 18;
                height: auto;
                margin: 0px;

                .card {
                    width: 95%;
                    height: 95%;
                    border-radius: 10px;

                    img {
                        border-radius: 5px;
                    }

                    .GEO, .ENG {
                        width: 30px;
                        height: 20px;
                        border-width: 2px;
                        border-radius: 5px;
                        
                        span {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1150px) { 
    .mainBox {
        .left, .right {
            height: 390px;
        }
     }
}


@media screen and (max-width: 992px) { 
    .mainBox {
        max-width: 800px;
        margin-top: 20px;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0px;
        column-gap: 10px;

        align-items: flex-start;
        position: static;


        .right {
            width: 100%;
            aspect-ratio: 16 / 9;
            height: auto;
            order: 1;

            .video {
                width: 100%;
                height: 100%;
                border-radius: 15px;

                .loading {
                    width: 25px;
                    height: 25px;
                    border-width: 3px;
                }
            }
        }
        .left,
        .bottom {
            display: inline-flex;
            flex-direction: row;
            width: 100%;
        }

        .left {
            width: 150px;
            height: 180px;
            flex-shrink: 0;
            position: absolute;
            order: 2;

            .card {
                display: none;
            }
            #left-down {
                display: none;
            }
        }
        .bottom {
            flex: 1;
            height: auto;
            position: static;
            display: block;
            order: 3;
            
            .descriptions {
                width: 100%;
                border-radius: 8px;
                height: auto;
                padding: 10px;
                position: relative;

                #card2 {
                    float: left;
                    display: block;
                    width: 130px;
                    height: 180px;
                    border-radius: 10px;
                    margin-right: 15px;
                    margin-bottom: 5px;

                    img {
                        border-radius: 5px;
                    }
                }

                p {
                    margin-left: 0px;
                    font-size: 10px;
                    text-shadow: none;

                    span {
                        font-size: 12px;
                    }

                    #name {
                        font-size: 15px;
                    }
                }
                #description {
                    margin-top: 15px;
                    margin-left: 10px;
                }
            }
        }
    }
    .inside {
        height: auto;
        max-width: 800px;
        width: 100%;

        .up {
            h2 {
                font-size: 15px;
            }
            div {
                i {
                    font-size: 18px;    
                }
            }
        }

        .middle {
            height: auto;

            a {
                width: clamp(95%, 25vw, 95%);
                aspect-ratio: 13 / 18;
                height: auto;
                margin: 0px;

                .card {
                    width: 95%;
                    height: 95%;
                    border-radius: 10px;

                    img {
                        border-radius: 5px;
                    }

                    .GEO, .ENG {
                        width: 30px;
                        height: 20px;
                        border-width: 2px;
                        border-radius: 5px;
                        
                        span {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
        .down {
            width: 100%;

            .title {
                width: 100%;
                position: relative;
                margin: 0px;

                p {
                    font-size: 10px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) { 
    .mainBox {
        max-width: 650px;
    }
    .inside {
        max-width: 650px;

        .E {
            display: none;
        }
        .down {
            .E {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 576px) { 
    .inside {
        .D {
            display: none;
        }
        .down {
            .D {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 476px) { 
    .inside {
        .down {
            .title {
                p {
                    font-size: 8px;
                }
            }
        }
    }
}