@mixin button {
    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 10px;
        transition: all 0.5s;
        opacity: 0;
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: yellow;
        transition: all 0.5s;
        opacity: 0;
    }
    i {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover > .hover {
        opacity: 0.4;
        transition: all 0.5s;
    }
    &:hover > .button, &:hover > i {
        opacity: 1;
        transition: all 0.5s;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}



.box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;

    a {
        text-decoration: none;
        width: 220px;
        height: 340px;
        margin: 10px;
        margin-bottom: 35px;
 
        .card {
            height: 310px;
            width: 220px; 
            border: 4px solid black;
            border-radius: 25px; 
            position: relative;
            cursor: pointer;
            @include button();
            box-shadow: 3px 3px 8px red;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            .GEO, .ENG {
                position: absolute;
                bottom: 8px;
                height: 25px;
                width: 40px;
                border: 3px solid white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                span {
                    font-weight: bold;
                    font-size: 12px;
                    color: white;
                }
            }
            .GEO {
                left: 8px;
            }
            .ENG {
                right: 8px;
            }
        }
        .title {
            width: 100%;
            height: 50px;
            text-align: center;
            padding-top: 5px;

            p {
                font-size: 15px;
                font-weight: bold;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 505px) {
    .box {
        a {
            width: 180px;
            height: 290px;
            margin: 10px;
            margin-bottom: 35px;
    
            .card {
                height: 250px;
                width: 100%;  
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .box {
        a {
            width: 150px;
            height: 250px;
            margin: 5px;
            margin-bottom: 35px;

            .card {
                height: 210px;
                width: 100%;  
            }
            .title {    
                p {
                    font-size: 15px;
                }
            }
        }
    }
}
