@mixin button {
    .hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        border-radius: 10px;
        transition: all 0.5s;
        opacity: 0;
    }
    .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px; 
        height: 80px;
        border-radius: 50%;
        background-color: yellow;
        transition: all 0.5s;
        opacity: 0;
    }
    i {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover > .hover {
        opacity: 0.4;
        transition: all 0.5s;
    }
    &:hover > .button, &:hover > i {
        opacity: 1;
        transition: all 0.5s;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}


.main, .main2, .main3, .main4 {
    width: 100%;
    height: 520px;
    background-image: url(../images/Polar-new-banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .inside {
        width: 1400px;
        height: 430px;
        
        .up {
            width: 100%;
            height: 12%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                margin: 0px;
                color: white;
                font-size: 20px;
                margin-left: 10px;
                text-shadow: 0px 0px 3px black;
            }
            div {
                i {
                    color: white;
                    margin: 10px;
                    font-size: 20px;
                    cursor: pointer;
                    text-shadow: 0px 0px 3px black;
                }
            }
        }
        .middle {
            width: 100%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                height: 100%;
                width: 220px;
                margin: 10px;
                margin-bottom: 0px;

                .card {
                    height: 95%;
                    border: 4px solid black;
                    border-radius: 20px;  
                    width: 100%;
                    position: relative;
                    cursor: pointer;
                    @include button(); 

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                    }

                    .GEO, .ENG {
                        position: absolute;
                        bottom: 8px;
                        height: 25px;
                        width: 40px;
                        border: 3px solid white;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        span {
                            font-weight: bold;
                            font-size: 12px;
                            color: white;
                        }
                    }
                    .GEO {
                        left: 8px;
                    }
                    .ENG {
                        right: 8px;
                    }
                }
            }
        }
        .down {
            width: 100%;
            height: 12%;
            display: flex;
            align-items: center;
            justify-content: center;

            .title {
                height: 100%;
                width: 215px;
                margin: 10px;
                margin-top: 5px;
                display: flex;
                align-items: top;
                justify-content: center;
                text-align: center;

                p {
                    margin: 0px;
                    font-size: 14px;
                    color: black;
                    text-shadow: 0px 0px 1px black;
                    font-weight: bold;
                }
                .movieN {
                    color: white;
                    text-shadow: 0px 0px 3px black;
                }
            }
        }
    }
}
.main2 {
    background-image: url(../images/Banner.jpg);
}
.main4 {
    background-image: none;
}
.main3 {
    background-image: url(../images/Banner.jpg);
    margin-bottom: 55px;
}
.popular {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .inside {
        width: 1350px;
        height: 100%;
        
        .up {
            width: 100%;
            height: 12%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                margin: 0px;
                color: white;
                font-size: 20px;
                margin-left: 10px;
                text-shadow: 0px 0px 3px black;
            }
            div {
                i {
                    color: white;
                    margin: 10px;
                    font-size: 20px;
                    cursor: pointer;
                    text-shadow: 0px 0px 3px black;
                }
            }
        }
        .middle {
            width: 100%;
            height: 240px;
            display: flex;
            align-items: center;
            justify-content: center;

            .cards {
                height: 95%;
                width: 33%;
                margin: 0px 10px;
                cursor: pointer;
                position: relative;
                @include button();
                
                .hover {
                    top: 0px;
                    border-radius: 18px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .main, .main2, .main3, .main4 {
        width: 100%;
        height: 520px;
    
        .inside {
            width: 1200px;
            height: 380px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .main, .main2, .main3, .main4 {
        .inside {
            width: 1000px;
            .middle {
                .F {
                  display: none;  
                }
            }
            .down {
                .F {
                    display: none;  
                }
            }
        }
    }
    .popular {
        height: 300px;

        .inside {
            .up {
                width: 985px;
                margin: auto;
            }
            .middle {
                height: 200px;

                .cards {
                    width: 310px;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .main, .main2, .main3, .main4 {
        .inside {
            width: 800px;
            .middle {
                .E {
                  display: none;  
                }
            }
            .down {
                .E {
                    display: none;  
                }
            }
        }
    }
    .popular {
        .inside {
            .up {
                width: 670px;
            }
            .middle {
                height: 200px;

                .cards {
                    width: 310px;
                }
                .C {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .main, .main2, .main3, .main4 {
        height: 470px;

        .inside {
            width: 599px;
            .middle {
                .D {
                  display: none;  
                }
            }
            .down {
                .D {
                    display: none;  
                }
            }
        }
    }
}
@media screen and (max-width: 680px) {
    .main, .main2, .main3, .main4 {
        .inside {
            width: 550px;
            .middle {
                .card {
                    height: 250px;
                }
            }
            .down {
                .title {
                    width: 180px;
                }
            }
        }
    }
    .popular {
        .inside {
            .up {
                width: 390px;
            }
            .middle {
                height: 200px;

                .cards {
                    width: 310px;
                }
                .B {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .main, .main2, .main3, .main4 {
        height: 400px;

        .inside {
            width: 450px;
            height: 310px;

            .middle {
                height: 200px;
                
                .card {
                    height: 190px;
                }
            }
            .down {
                .title {
                    width: 180px;

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 460px) {
    .main, .main2, .main3, .main4 {
        height: 450px;

        .inside {
            width: 450px;
            height: 400px;

            .middle {
                height: 280px;
                
                .card {
                    height: 100%;
                    width: 45%;
                }
                .C {
                    display: none;
                }
            }
            .down {
                .C {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 440px) {
    .popular {
        .inside {
            .up {
                width: 340px;

                h2 {
                    font-size: 15px;
                }
            }
            .middle {
                height: 200px;

                .cards {
                    width: 310px;
                }
                .B {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 440px) {
    .main, .main2, .main3, .main4 {
        height: 450px;

        .inside {
            width: 100%;
            height: 380px;

            .middle {
                height: 260px;
            }
        }
    }
}
@media screen and (max-width: 370px) {
    .main, .main2, .main3, .main4 {
        height: 410px;

        .inside {
            width: 100%;
            height: 320px;

            .middle {
                height: 230px;
                
                .card {
                    height: 100%;
                    width: 45%;
                }
            }
        }
    }
}